$text-color: #fff;

h1 { /* stylelint-disable-line */
  margin-top: $gutter;
  margin-bottom: 30px;
  margin-left: $gutter;

  font-size: 2em;
  font-weight: 700;

  color: $text-color;
}

.spilandim h1 { /* stylelint-disable-line */
  text-align: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.backbutton {
  margin-top: 40px;
  color: #bebebe;
  text-align: center;
}
