.controls {
  display: flex;

  width: 30%;
  height: 30%;
  // width: auto;
  // height: auto;
}

.controls .mute {
  margin-right: 5px;
  margin-left: 5px;
}

.controls .fullscreen {
  margin-right: 5px;
  margin-left: 5px;
}
