.screen {
  position: relative;
}

video {/* stylelint-disable-line */
  width: 100%;
}

#overlay {/* stylelint-disable-line */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
